*,
** {
  box-sizing: border-box;
}

.title {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  background-color: antiquewhite;
  color: green;
  text-align: center;
}

ul {
  width: min-content;
  padding: 1rem;
  margin: 0 auto;
}

li {
  background-color: antiquewhite;
  font-size: larger;
  font-style: italic;
  padding: 1rem;
  margin-bottom: 1rem;
}
